* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  overflow-x: hidden;
}

header {
  background: #161616;
  color: white;
  padding: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

.logo {
  width: 40px;
  border-radius: 50%;
}

.hero {
  text-align: center;
  padding: 30px;
}

.profile-img {
  width: 150px;
  border-radius: 50%;
  margin-top: 10px;
}

button {
  padding: 8px 16px;
  background: #00bcd4;
  border: none;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
}

section {
  padding: 30px;
  text-align: center;
}

.skills-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skill img {
  width: 50px;
}

.cert-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.cert-box img {
  width: 120px;
}
